{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Editar Entrada: {{ entry.title }}</h2>
        {{ form_start(form, {'enctype':'multipart/form-data'}) }}
            <label>Imagen: </label>
            <img width="100px" src="{{ asset('uploads/'~entry.image) }}"/>
            {{ form_widget(form.image) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


