{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="card-columns text-center" style="margin: 10px">
    {% for entry in entries %}
        <div class="card border-secondary mb-3">
            <div class="card-header">{{ entry.title }}</div>
            <img class="card-img-top" src="{{ asset('uploads/'~entry.image) }}" style="width: 10rem;margin-top: 5px"/>
            <div class="card-body">
                <p class="card-text">{{ entry.category.name }}</p>
                <p class="card-text">Autor: {{ entry.user.name }}</p>
                <p class="card-text">
                    {% for et in entry.entryTag %}
                        {{ et.tag.name }}
                    {% endfor %}
                </p>
                {% if app.user.id is defined and entry.user.id == app.user.id %}
                    <p class="card-text">
                        <a href="{{ path('blog_delete_entry', {'id':entry.id}) }}" class="btn btn-danger">Eliminar</a>
                        <a href="{{ path('blog_edit_entry', {'id':entry.id}) }}" class="btn btn-warning">Editar</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

    <ul class="pagination justify-content-center">
        {% if page > 1 %}
            <li class="page-item"><a href="{{ path('blog_homepage', {'page':page-1}) }}" class="page-link">&laquo</a> </li>
        {% endif %}
        {% for i in 1..pagesCount %}
            <li class="page-item"><a href="{{ path('blog_homepage', {'page':i}) }}" class="page-link">{{ i }}</a> </li>
        {% endfor %}
        {% if page < pagesCount%}
            <li class="page-item"><a href="{{ path('blog_homepage', {'page':page+1}) }}" class="page-link">&raquo</a> </li>
        {% endif %}
    </ul>

{% endblock %}
