{% extends "::layout.html.twig" %}
{% block container %}
    
    {#
        Prueba de un comentario en bloque
    #}
    
    <!-- acceder al contenido de la plantilla -->
    {{parent()}}
    
    <!-- imprimir la variable $texto del controlador -->
    {{texto}}
    
    <hr/>
    <!-- acceder al contenido del array u objeto y probando if con funciones-->
    {{ fruta.pera }}
    {% if fruta.pera starts with 'r' %}
        {{fruta.manzana}}
    {% endif %}
    
    <hr/>    
    <!-- definir una variable e imprimirla -->
    {% set variable = "Hola Twig" %}
    {{variable}}
    
    <hr/>
    <!-- usando el bucle for y el condicional if -->
    {% if productos|length > 0 %}
        <ul>
            {% for aux in productos %}
                <li>{{ aux.producto  }} - {{ aux.precio }}</li> 
            {% endfor %}
        </ul>
    {% endif %}
    
    <hr/>
    {# funciones predefinidas #}
    {% set fecha = date("-2 days","Europe/Madrid") %}
    {{ dump(fecha) }}
    <br/>
    <br/>
    
    <hr/>
    {{ "probando el máximo =" }}
    {{ max([1,20,55,4,6]) }}
    
    <hr/>
    {{ "probando random de números" }}
    {{ random(10) }}
    
    <hr/>
    {{ "probando random de array" }}
    {{ random(["primero","segundo","tercero"]) }}
    
    <hr/>
    {{ "probando rangos" }}<br/>
    {% for i in range(1,10) %}
        {{ i  }} 
    {% endfor %}
    <br/>
    {% for i in range(1,10,2) %}
        {{ i  }} 
    {% endfor %}
    
    <hr/>
    {# usar una vista dentro de otra #}
    {{ include('AppBundle:pruebas:partial.html.twig') }}
    
    <hr/>
    {# usar una función externa #}
    {{ generateTable(5,7)|raw }}
    
    <hr/>
    <!-- probando filtros por defecto de twig -->
    {{ fecha.date|date('d-m-y') }}
    {% set texto = '   probando...    :' %}
    {{ texto|trim(':') }}
    
{% endblock %}